<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pedido">
            <h2><span jhiTranslate="agroappApp.pedido.detail.title">Pedido</span> {{pedido.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="agroappApp.pedido.nombre">Nombre</span></dt>
                <dd>
                    <span>{{pedido.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="agroappApp.pedido.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{pedido.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="agroappApp.pedido.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="pedido.cliente">
                        <a [routerLink]="['/cliente', pedido.cliente?.id, 'view']">{{pedido.cliente?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pedido', pedido.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
